<div class="space-y-16 main__wrapper">
  <button class="flex flex-row items-center">
    <%= link_to "Create folder", new_folder_path, class: "btn" %>
  </button>

  <%= turbo_frame_tag "folders_list" do %>
    <% folders.each do |folder| %>
      <%= render partial: "folders/shared/show", locals: { folder: folder } %>
    <% end %>
  <% end %>
</div>
