<div class="navbar">
  <ul class="navbar__ul">
    <li><%= link_to 'Create', new_admin_product_path, class: "navbar__link" %></li>
    <li><%= link_to 'Home', root_path, class: "navbar__link" %></li>
  </ul>
<div>
